In [1]:
import pandas as pd 
import requests
from pandasql import sqldf
ep = "https://raw.githubusercontent.com/ppabam/nextjs-fastapi-starter/refs/heads/main/endpoints.json"

In [2]:
res = requests.get(ep)

In [3]:
res.status_code

200

In [69]:
res.encoding

'utf-8'

In [70]:
res.text

'{\n    "endpoints": [\n      {"name": "TOM","url": "https://ac.sunsin.shop/api/py/select_all"},\n      {"name": "jiwon","url": "https://agecal.wodan10.shop/api/py/select_all"},\n      {"name": "heejin","url": "https://age.journeyjean.shop/api/py/select_all"}, \n      {"name": "hyun","url": "https://agecalculator.calcalhan.store/api/py/select_all"},\n      {"name": "cho","url": "https://nextjs-fastapi-starter-5j3bemub7-chominkyus-projects.vercel.app/api/py/select_all"},\n      {"name": "jacob","url": "https://jacob0503.vercel.app/api/py/select_table"},\n      {"name": "nuni","url": "https://ac.nunininu.shop/api/py/select_all"},\n      {"name": "lucas","url": "https://ac.lucas12.store/api/py/select_all"},\n      {"name": "SEO","url":"https://ac.seo-sigma.shop/api/py/select_all"},\n      {"name": "JERRY", "url": "https://jooon.vercel.app/api/py/select_all"}\n    ]\n}\n  \n'

In [71]:
data = res.json()
print(data)

{'endpoints': [{'name': 'TOM', 'url': 'https://ac.sunsin.shop/api/py/select_all'}, {'name': 'jiwon', 'url': 'https://agecal.wodan10.shop/api/py/select_all'}, {'name': 'heejin', 'url': 'https://age.journeyjean.shop/api/py/select_all'}, {'name': 'hyun', 'url': 'https://agecalculator.calcalhan.store/api/py/select_all'}, {'name': 'cho', 'url': 'https://nextjs-fastapi-starter-5j3bemub7-chominkyus-projects.vercel.app/api/py/select_all'}, {'name': 'jacob', 'url': 'https://jacob0503.vercel.app/api/py/select_table'}, {'name': 'nuni', 'url': 'https://ac.nunininu.shop/api/py/select_all'}, {'name': 'lucas', 'url': 'https://ac.lucas12.store/api/py/select_all'}, {'name': 'SEO', 'url': 'https://ac.seo-sigma.shop/api/py/select_all'}, {'name': 'JERRY', 'url': 'https://jooon.vercel.app/api/py/select_all'}]}

In [72]:
type(data)

dict

In [63]:
endpoint = data['endpoints']
ed = ((i['name'],i['url']) for i in endpoint)
for i in ed:
    print(i)

('TOM', 'https://ac.sunsin.shop/api/py/select_all')
('jiwon', 'https://agecal.wodan10.shop/api/py/select_all')
('heejin', 'https://age.journeyjean.shop/api/py/select_all')
('hyun', 'https://agecalculator.calcalhan.store/api/py/select_all')
('cho', 'https://nextjs-fastapi-starter-5j3bemub7-chominkyus-projects.vercel.app/api/py/select_all')
('jacob', 'https://jacob0503.vercel.app/api/py/select_table')
('nuni', 'https://ac.nunininu.shop/api/py/select_all')
('lucas', 'https://ac.lucas12.store/api/py/select_all')
('SEO', 'https://ac.seo-sigma.shop/api/py/select_all')
('JERRY', 'https://jooon.vercel.app/api/py/select_all')

In [18]:
endpoint = data['endpoints']
for i in endpoint:
    print(f"{i['name']},{i['url']}")

TOM,https://ac.sunsin.shop/api/py/select_all
jiwon,https://agecal.wodan10.shop/api/py/select_all
heejin,https://age.journeyjean.shop/api/py/select_all
hyun,https://agecalculator.calcalhan.store/api/py/select_all
cho,https://nextjs-fastapi-starter-5j3bemub7-chominkyus-projects.vercel.app/api/py/select_all
jacob,https://jacob0503.vercel.app/api/py/select_table
nuni,https://ac.nunininu.shop/api/py/select_all
lucas,https://ac.lucas12.store/api/py/select_all
SEO,https://ac.seo-sigma.shop/api/py/select_all
JERRY,https://jooon.vercel.app/api/py/select_all

In [19]:
endpoint = data['endpoints']
ed = ((i['name'],i['url']) for i in endpoint)
for i in ed:
    print(i)

('TOM', 'https://ac.sunsin.shop/api/py/select_all')
('jiwon', 'https://agecal.wodan10.shop/api/py/select_all')
('heejin', 'https://age.journeyjean.shop/api/py/select_all')
('hyun', 'https://agecalculator.calcalhan.store/api/py/select_all')
('cho', 'https://nextjs-fastapi-starter-5j3bemub7-chominkyus-projects.vercel.app/api/py/select_all')
('jacob', 'https://jacob0503.vercel.app/api/py/select_table')
('nuni', 'https://ac.nunininu.shop/api/py/select_all')
('lucas', 'https://ac.lucas12.store/api/py/select_all')
('SEO', 'https://ac.seo-sigma.shop/api/py/select_all')
('JERRY', 'https://jooon.vercel.app/api/py/select_all')

In [80]:
#df_tom =
res = requests.get("https://ac.sunsin.shop/api/py/select_all")
#res.status_code
data = res.json()
df_tom = pd.DataFrame(data)
df_tom.head(3)

       menu_name  name          dt
0            설렁탕   TOM  2025-02-07
1      설렁탕,육회비빔밥   SEO  2025-02-07
2  시래기찜닭, 마라로제찜닭  hyun  2025-02-07

In [81]:
#df_jacob =
res = requests.get('https://jacob0503.vercel.app/api/py/select_table')
#res.status_code
data = res.json()
df_jacob = pd.DataFrame(data)
df_jacob.head(3)

   menu  ename          dt
0   짜장면    TOM  2025-02-03
1  제육볶음   nuni  2025-02-03
2  제육볶음  lucas  2025-02-03

In [74]:
query= """
select df_tom.dt, df_tom.ename, df_tom.menu
from df_tom
left join df_jacob
on df_tom.dt = df_jacob.dt and df_tom.ename = df_jacob.ename and df_tom.menu=df_jacob.menu
where df_jacob.dt is null
"""
pysqldf = lambda q: sqldf(q, globals())

def pysqldf(q):
    sqldf(q,locals())
df_diff =sqldf(query,locals())

df_diff

PandaSQLException: (sqlite3.OperationalError) no such column: df_tom.ename
[SQL:
select df_tom.dt, df_tom.ename, df_tom.menu
from df_tom
left join df_jacob
on df_tom.dt = df_jacob.dt and df_tom.ename = df_jacob.ename and df_tom.menu=df_jacob.menu
where df_jacob.dt is null
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [54]:
diff=[]
for _,row1 in df_tom.iterrows():
    match_now = False
    for _,row2 in df_jacob.iterrows():
        if row1['ename'] == row2['ename'] and row1['dt'] == row2['dt']:
            match_now=True
            pass
    if not match_now:
        diff.append(row1)
print(diff)

[]

In [84]:
df1 = pd.DataFrame({"id": [1, 2, 3], "name": ["KIM", "MIN", "LEE"]})
df2 = pd.DataFrame({"id": [2, 3, 4], "name": ["MIN", "LEE", "PARK"]})
new_rows=[]

for _,row2 in df2.iterrows():
    match=False
    for _,row1 in df1.iterrows():
        match_colums=True
        for i in df1.columns:
            if row2[i] != row1[i]:
                match_columns= False
                break
        if match_columns:
            match = True
    if not match:
        new_rows.append(row2)
adf=pd.DataFrame(new_rows)
print(adf)

   id  name
0   2   MIN
1   3   LEE
2   4  PARK

In [55]:
df1 = pd.DataFrame({"id": [1, 2, 3], "name": ["KIM", "MIN", "LEE"]})
df2 = pd.DataFrame({"id": [2, 3, 4], "name": ["MIN", "LEE", "PARK"]})
for _,row2 in df2.iterrows():
    match=False
    for _,row1 in df1.iterrows():
        if row1["name"] == row2["name"] and row1["id"] == row2["id"]:
            match=True
            break
    if not match:
        print(row2['name'])

In [13]:
res = requests.get("https://agecalculator.calcalhan.store/api/py/select_all")
data = res.json()
df1 = pd.DataFrame(data)

In [15]:
res = requests.get("https://jacob0503.vercel.app/api/py/select_table")
#res.status_code
data = res.json()
dfjacob = pd.DataFrame(data)

In [16]:
merge_df = pd.merge(df1, dfjacob, how="left", indicator=True)
merge_df

        menu_name    name          dt     _merge
0             햄버거    hyun  2025-01-01  left_only
1             순대국     TOM  2025-01-07       both
2             닭개장     cho  2025-01-07       both
3    닭개장(특) , 꽈배기    hyun  2025-01-07       both
4             닭개장   JERRY  2025-01-07       both
..            ...     ...         ...        ...
139          잔치국수   jiwon  2025-02-03       both
140         김치 찌개   jacob  2025-02-03       both
141          샌드위치  heejin  2025-02-03       both
142          제육볶음   lucas  2025-02-03       both
143          제육볶음    nuni  2025-02-03       both

[144 rows x 4 columns]

In [17]:
df_diff_th=merge_df[merge_df['_merge'] == 'left_only'].drop('_merge' , axis=1)
df_diff_3=df_diff_th.sort_values(by=['name']).reset_index(drop=True)
df_diff_3

  menu_name  name          dt
0       햄버거  hyun  2025-01-01

In [48]:
df1 = pd.DataFrame({"id": [1, 2, 3], "name": ["KIM", "MIN", "LEE"]})
df2 = pd.DataFrame({"id": [2, 3, 4, 5], "name": ["MIN", "LEE", "PARK", "TOM"]})
new_rows = []

for _, row_2 in df2.iterrows():
    is_match_row = False
    for _, row_1 in df1.iterrows():
        is_match_columns = True
        for c_name in df1.columns:
            if row_2[c_name] != row_1[c_name]:
                is_match_columns = False
                break
                
        if is_match_columns:
            is_match_row = True

    if not is_match_row:
        new_rows.append(row_2)
        
df_diff_rdf = pd.DataFrame(new_rows)
df_diff_sdf = df_diff_rdf.drop(columns=["id"])
df_diff_2 = df_diff_sdf.reset_index(drop=True)
df_diff_2

   name
0  PARK
1   TOM

In [53]:
df1 = pd.DataFrame({"id": [1, 2, 3], "name": ["KIM", "MIN", "LEE"]})
df2 = pd.DataFrame({"id": [2, 3, 4, 5], "name": ["MIN", "LEE", "PARK", "TOM"]})
df3 = pd.DataFrame({"id": [5, 4, 2, 3], "name": ["TOM", "PARK","MIN", "LEE"]})
merge_df = pd.merge(df1, df3, how="right", indicator=True)

In [54]:
merge_df

   id  name      _merge
0   5   TOM  right_only
1   4  PARK  right_only
2   2   MIN        both
3   3   LEE        both

In [55]:
df_diff_th=merge_df[merge_df['_merge'] == 'right_only'].drop('_merge' , axis=1)
df_diff_3=df_diff_th.sort_values(by=['name']).drop(columns=["id"]).reset_index(drop=True)
df_diff_3

   name
0  PARK
1   TOM

In [2]:
df1 = pd.DataFrame({"id": [1, 2, 3], "name": ["KIM", "MIN", "LEE"]})
df2 = pd.DataFrame({"id": [2, 3, 4], "name": ["MIN", "LEE", "PARK"]})

In [6]:
from pandasql import sqldf

In [44]:

query= """
select df2.id,df2.name
from df2
left join df1
on df2.id = df1.id and df2.name = df1.name
where df1.name is null
"""
pysqldf = lambda q: sqldf(q, globals())

def pysqldf(q):
    sqldf(q,locals())
df_diff_lam =sqldf(query,locals())
df_r=df_diff_lam.drop(columns=["id"])
df_diff_1 = df_r.reset_index(drop=True)
df_diff_1

   name
0  PARK
1   TOM

In [28]:
import pandas as pd
from pandasql import sqldf

In [29]:
df1 = pd.DataFrame({"id": [1, 2, 3], "name": ["KIM", "MIN", "LEE"]})
df2 = pd.DataFrame({"id": [2, 3, 4, 5], "name": ["MIN", "LEE", "PARK", "TOM"]})
df3 = pd.DataFrame({"id": [5, 4, 2, 3], "name": ["TOM", "PARK","MIN", "LEE"]})

In [56]:
if df_diff_1.equals(df_diff_2) and df_diff_2.equals(df_diff_3):
    print("모든 DataFrame이 동일합니다.")
else:
    print("DataFrame 값이 다릅니다.")

모든 DataFrame이 동일합니다.